.detailIndicator {
  text-align: center;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
  background: var(--bg2-color);
  padding-bottom: 24px;
}
.detailIndicatorTitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.detailIndicatorValue {
  font-size: 64px;
  font-weight: 900;
  line-height: 76px;
}
.detailIndicatorValueName {
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
}
.indicatorImage {
  margin-top: 3px;
  display: flex;
  column-gap: 11px;
  justify-content: center;
  align-items: center;
}
.indicatorImageTitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.progressbarContainer {
  margin-left: 25px;
  margin-right: 22px;
}

.progressbar {
  height: 11px;
  position: relative;
  background: #e6e6e6;
  border-radius: 10px;
}

.progressbar span {
  display: block;
  height: 100%;
  background-color: #ec6e4d;
  background-image: linear-gradient(center bottom, #ec6e4d 37%, #ec6e4d 69%);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.percents {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  font-size: 12px;
  line-height: 14.22px;
}
.percentSymbol {
  display: flex;
  justify-content: flex-end;
  color: var(--main-color);
  font-size: 12px;
}
