.sidebar {
  background-color: var(--bg2-color);
  flex: 460px 0;
  transition: all 0.5s ease;
  padding-bottom: 33px;
  height: 100vh;
}
.laoder {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .sidebar {
    flex: 329px 0;
  }
}
@media (max-width: 834px) {
  .sidebar {
    width: 100vw;
  }
}
