.tabsPanel {
  margin-top: 18px;
  width: 852px;
}
.tabsPanelContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonPrevNext {
  background-color: var(--bg-color);
  transition: all 0.5s ease;
}
.buttonPrevNext svg circle {
  fill: var(--bg2-color);
}

@media (min-width: 834px) and (max-width: 1439.5px) {
  .tabsPanel {
    max-width: 451px;
    margin: 18px auto;
  }
}
@media (max-width: 834px) {
  .tabsPanel {
    width: 100vw;
  }
  .tabsPanelContent {
    justify-content: center;
  }
  .buttonPrevNext {
    display: none;
  }
}
